* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}



/* Btn stles start */
.btn {
    padding: 10px 15px;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn-w {
    background-color: #571F9C;
    border: #571F9C;
}

.btn-w :hover {
    background-color: #571F9C;
    color: #fff;
}

/* Btn stles end */
/* Navbar start */

header .header-top {
    background-color: #571F9C;
    color: #fff;
}


header .header-top .header-top-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header .header-top .header-top-item .right ul {
    display: flex;
}

header .header-top .header-top-item .right ul li {
    list-style: none;
    padding-left: 25px;
}

header .header-top .header-top-item .right ul li a {
    text-decoration: none;
    color: #fff;
}

header .header-botton .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .header-botton .navbar .logo img {
    width: 195px;
    height: 55px;
}

header .header-botton .navbar .nav-items ul {
    display: flex;
}

header .header-botton .navbar .nav-items ul li {
    list-style: none;
}


header .header-botton .navbar .nav-items ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar end */


/* Banner start */
.banner {
    background-image: url(../image/banner.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.banner .banner-info {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.banner .banner-info p {
    margin-bottom: 15px;
    font-size: 16px;
}

.banner .banner-info h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.banner .banner-info h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Banner end */
/* business start */
.business{
    background-color: #EDF5F8;
}
.business .consult-items{
    display: flex;
    
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 90px;

    

}
.business .consult-items p{
    color: #777777;
    line-height: 1.5;
    letter-spacing: 0.5;
    
}
.business .consult-items .consult-1 button{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    
}
.business .consult-items .consult-2,.consult-3,.consult-4{
    text-align: center;
    
}
.business .consult-items .consult-1 h3{
    padding-bottom: 40px;
}
.business .consult-items .consult-2 h3{
    padding-bottom: 40px;
}
.business .consult-items .consult-2 i{
    font-size: 40px;
    margin-bottom: 30px;
}
.business .consult-items .consult-3 i{
    font-size: 40px;
    margin-bottom: 30px;
}
.business .consult-items .consult-4 i{
    font-size: 40px;
    margin-bottom: 30px;
}
.business .consult-items .consult-3 h3{
    padding-bottom: 40px;
}
.business .consult-items .consult-4 h3{
    padding-bottom: 40px;
}
/* business end */
/* services start */
.services .services-items{
    text-align: center;
}
.services .services-items .services-1 h5{
    color: #777777;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1.5;
}
.services .services-items .services-1 h1{
    margin-bottom: 40px;
    font-size: 40px;
}
.services .services-items .services-1 p{
    /* width: 50%; */
    padding-right: 110px;
    padding-left: 110px;
    color: #777777;
    margin-bottom: 130px;

}
.services .services-items .services-2 button{
    width: 180px;
    height: 60px;
    font-size: 37px;
    margin-bottom: 60px;
}
.services .services-items .services-2 p{
    color: #777777;
    margin-bottom: 15px;
}
.services .services-items .services-2 h1{
    font-size: 65px;
    margin-bottom: 80px;
}
/* services end */
/* record start  */
.record .record-items{
    
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.record .record-items .record-1,.record-2,.record-3,.record-4,.record-5,.record-6{
    text-align: center;
}
.record .record-items .record-1,.record-2,.record-3{
    padding-bottom: 100px;
}
.record .record-items i{
    font-size: 100px;
    margin-bottom: 30px;
}
.record .record-items h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.record .record-items h1{
    margin-bottom: 20px;
}
.record .record-items p{
    color: #777777;
}
/* record end  */
/* money start  */

.money .money-items{
    display: flex;
    margin-bottom: 110px;
    
}
.money .money-items .money-left h3{
    color: #777777;
    margin-bottom: 20px;
}
.money .money-items .money-left h1{
    margin-bottom: 30px;
}
.money .money-items .money-left p{
    color: #777777;
}
.money .money-items .money-left button{
    width: 140px;
    height: 40px;
    margin-top: 50px;
    font-size: 15px;
}
.money .money-items .money-right img{
    width: 100vh;
}
/* money end  */
/* perfect start  */
.perfect{
    background-color: #E8F1F4;
    padding-bottom: 100px;
}
.perfect .perfect-team{
    text-align: center;
}
.perfect .perfect-team h4{
    color: #777777;
    margin-bottom: 20px;
    padding-top: 80px;
}
.perfect .perfect-team h1{
    font-size: 65px;
}
.perfect .perfect-items{
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}
.perfect .perfect-items .perfect-1,.perfect-2,.perfect-3{
    background-color: #fff;
    text-align: center;
    width: 28%;
    border-radius: 14px;
}
.perfect .perfect-items .perfect-1 img{
    width: 140px;
    border-radius: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.perfect .perfect-items .perfect-2 img{
    width: 140px;
    border-radius: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.perfect .perfect-items .perfect-3 img{
    width: 140px;
    border-radius: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.perfect .perfect-items .perfect-1 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.perfect .perfect-items .perfect-2 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.perfect .perfect-items .perfect-3 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.perfect .perfect-items .perfect-1 h3{
    color: #777777;
    margin-bottom: 40px;
}
.perfect .perfect-items .perfect-2 h3{
    color: #777777;
    margin-bottom: 40px;
}
.perfect .perfect-items .perfect-3 h3{
    color: #777777;
    margin-bottom: 40px;
}
.perfect .perfect-items .perfect-1 p{
    color: #777777;
    margin-bottom: 40px;
}
/* perfec end  */
/* number start  */
.number .number-items{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.number .number-items .number-1,.number-2,.number-3,.number-4{
    text-align: center;
}
.number .number-items .number-1 i{
    font-size: 50px;
    margin-bottom: 40px;
}
.number .number-items .number-2 i{
    font-size: 50px;
    margin-bottom: 40px;
}
.number .number-items .number-3 i{
    font-size: 50px;
    margin-bottom: 40px;
}
.number .number-items .number-4 i{
    font-size: 50px;
    margin-bottom: 40px;
}
/* number end  */
/* blog start  */
.blog .blog-top{
    margin-top: 110px;
    text-align: center;
    margin-bottom: 40px;
}
.blog .blog-top h4{
    color: #777777;
    margin-bottom: 15px;
}
.blog .blog-top h1{
    font-size: 60px;
}
.blog .blog-items{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    /* text-align: center; */
}
.blog .blog-items img{
    width: 95%;
    margin-bottom: 20px;
}
.blog .blog-items a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.blog .blog-items p{
    padding-top: 20px;
    padding-bottom: 20px;
    color:#777777 ;
}
.blog .blog-items button{
    font-size: 15px;
    margin-bottom: 90px;
}
/* blog end  */
/* legendary start  */
.legendary{
    background-color: #EDF5F8;
    padding-bottom: 110px;
}
.legendary .legendary-items{
    display: flex;
    
}
.legendary .legendary-items .legendary-1{
    display: flex;

}
.legendary .legendary-items .legendary-1 i{
    font-size: 90px;
    padding-right: 20px;
    padding-top: 30px;
}
.legendary .legendary-items .legendary-1 h2{
    font-size: 40px;
    padding-bottom: 15px;
}
.legendary .legendary-items .legendary-1 p{
    color: #777777;
    font-size: 17px;
}
.legendary .legendary-items .legendary-2 i{
    font-size: 60px;
    padding-right: 20px;
    padding-top: 30px;
}
.legendary .legendary-items .legendary-2 h2{
    font-size: 40px;
    padding-bottom: 15px;
}
.legendary .legendary-items .legendary-2 p{
    color: #777777;
    font-size: 17px;
}
.legendary .legendary-items .legendary-2{
    display: flex;
}
.legendary .legendary-items .legendary-3 i{
    font-size: 60px;
    padding-right: 20px;
    padding-top: 30px;
}
.legendary .legendary-items .legendary-3 h2{
    font-size: 40px;
    padding-bottom: 15px;
}
.legendary .legendary-items .legendary-3 p{
    color: #777777;
    font-size: 17px;
}
.legendary .legendary-items .legendary-3{
    display: flex;
}
/* legendary end  */